body{
    background-color: beige;
}
h1{
    color: red;
}
h2{
    color: red;
}
h1 em{
    letter-spacing: 3px;
}
p{
    text-align: justify;
    font-size: 15pt;
}
p strong{
    color: green;
}
p em{
    color: orange;
}
p strong em{
    color: brown;
}
a strong{
    letter-spacing: 8px;
}
